[package]
name = "coco-protocol"
version = "0.0.1"
edition.workspace = true
rust-version.workspace = true

[dependencies]
serde.workspace = true
thiserror.workspace = true
utoipa.workspace = true

[dev-dependencies]
serde_json.workspace = true
