apiVersion: v1
kind: Service
metadata:
  name: {{ include "coco.fullname" . }}-api
  labels:
    {{- include "coco.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.api.type }}
  ports:
    - port: {{ .Values.service.api.port }}
      targetPort: {{ .Values.service.api.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "coco.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
